.partners{
    margin-top: 250px;
}
.p-h2{
    margin-bottom: 40px;
    color: #fff;
    font-size: 1.5rem;
}
.p-img{
    height: auto;
    width: auto;
    max-height: 30px;
}
.item:hover{
    transition: 1s;
    filter: grayscale(0);

}
@media only screen and (max-device-width: 480px){
    .partners{
        margin-top: 150px;
    }
    .p-img{
        max-height: 15px;
    }
}