.guard-top{
    margin-top: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}
.g-h2{
    font-size: 1.25rem;
    margin-bottom: 10px;
}
.g-p{
    color: #bbb;
    font-size: 0.85rem;
    line-height: 20px;
}
.g-t-img{
    width: auto;
    height: 50px;
}
.guard-bottom{
    display: flex;
    justify-content: space-between;
    background-image: url("../../img/noxGuardBg.png");
    background-position: center;
    background-size: cover;
}
.g-b{
    
    margin-top: 150px;
    margin-left: 150px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.g-b-p{
    margin-top: 100px;
}
.b-p{
    color: #fff;
    font-weight: 600;
    font-size: 1.25rem;
}
.b-p2{
    font-size: 1.125rem;
    color: #2d6bca;
}
.g-b-img{
    margin-left: 50px;
    height: 400px;
    transition: 2s;
}
.g-b-img:hover{
    transition: 2s;
    transform: rotate3d(45, -1, -1, -0.15turn);
}

@media only screen and (max-device-width: 480px){
    .guard-top{
        margin-top: 250px;
        flex-direction: column;
        justify-content: center;
        align-items: center;   
    }
    .g-p{
        margin-bottom: 20px;
    }
    .guard-bottom{
        flex-direction: column;
        justify-content: center;
        
    }
    .g-b{
        margin: 0;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    .g-b-img{
        margin: 0;
        height: 250px;
    }
}